* {
    margin: 0;
    padding: 0;
    line-height: auto;
}

ul,
ol {
    list-style: none;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

button:focus {
    outline: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li {
    margin-top: 0;
    margin-bottom: 0;
    line-height: auto;
}

img {
    vertical-align: middle;
}

body {
    overflow-x: hidden;
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}


/*End of Common CSS*/


/*header css start*/

.header {
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all .3s linear;
    background-color: #1D4354;
}

.header .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px;
    color: white;
    transition: all .2s linear;
}

li.nav-item {
    padding: 0px 18px;
}

.header .last_item {
    border-radius: 2px;
    background: transparent;
    color: white;
    border: 2px solid #37A000;
    margin-top: -1px;
    position: relative;
    border-radius: 5px;
}

.header .last_item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #37A000;
    transition: all .3s linear;
    z-index: -1;
}

.header .last_item:hover::before {
    width: 100%;
}

@media (max-width: 575.98px) {
    a.navbar-brand img {
        width: 150px !important;
    }
    span.navbar-toggler-icon {
        color: white;
    }
    span.navbar-toggler-icon i {
        font-size: 26px;
    }
    .header .nav-link {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}


/*header css end*/


/* about us css start */

.about_us_banner {
    background: #F2F2F2;
    padding: 200px 0px 100px 0px;
    text-align: center;
}

.about_us_banner .about_us_banner_text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #1D4354;
    width: 65%;
    margin: auto;
    position: relative;
}

.about_us_banner_text .banner_shape_1 {
    position: absolute;
    top: 60px;
    left: 20px;
    height: 40px;
    width: 40px;
    border: 2px solid #17AA50;
    border-radius: 50%;
}

.about_us_banner_text .banner_shape_2 {
    position: absolute;
    top: 90px;
    left: 40px;
    height: 40px;
    width: 40px;
    background-color: #17AA50;
    border-radius: 50%;
}

.about_us_banner_text .banner_shape_3 {
    position: absolute;
    top: -30px;
    right: 60px;
    height: 40px;
    width: 40px;
    border: 2px solid #17AA50;
    border-radius: 50%;
}

.about_us_banner_text .banner_shape_4 {
    position: absolute;
    top: -60px;
    right: 40px;
    height: 40px;
    width: 40px;
    background-color: #17AA50;
    border-radius: 50%;
}

@media (max-width: 575.98px) {
    .about_us_banner {
        padding: 140px 0px 60px 0px;
    }
    .about_us_banner .about_us_banner_text h2 {
        font-size: 25px;
        font-weight: 600;
        width: 85%;
    }
    .about_us_banner_text .banner_shape_1 {
        top: 60px;
        left: 25px;
        height: 20px;
        width: 20px;
    }
    .about_us_banner_text .banner_shape_2 {
        top: 70px;
        left: 40px;
        height: 20px;
        width: 20px;
    }
    .about_us_banner_text .banner_shape_3 {
        top: -30px;
        right: 55px;
        height: 20px;
        width: 20px;
    }
    .about_us_banner_text .banner_shape_4 {
        top: -20px;
        right: 40px;
        height: 20px;
        width: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .about_us_banner {
        padding: 150px 0px 70px 0px;
    }
    .about_us_banner .about_us_banner_text h2 {
        font-size: 35px;
        font-weight: 600;
        width: 85%;
    }
    .about_us_banner_text .banner_shape_1 {
        top: 70px;
        left: 25px;
        height: 30px;
        width: 30px;
    }
    .about_us_banner_text .banner_shape_2 {
        top: 90px;
        left: 40px;
        height: 30px;
        width: 30px;
    }
    .about_us_banner_text .banner_shape_3 {
        top: -30px;
        right: 50px;
        height: 30px;
        width: 30px;
    }
    .about_us_banner_text .banner_shape_4 {
        top: -10px;
        right: 32px;
        height: 30px;
        width: 30px;
    }
}

.about_us_chose {
    padding: 80px 0px;
}

.about_us_chose_text {
    padding-top: 60px;
}

.about_us_chose_text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1D4354;
}

.about_us_chose_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-align: justify;
    width: 530px;
}

@media (max-width: 575.98px) {
    .about_us_chose {
        padding: 50px 0px;
    }
    .about_us_chose_text {
        padding-top: 30px;
        text-align: center !IMPORTANT;
    }
    .about_us_chose_text h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .about_us_chose_text p {
        font-size: 14px;
        font-weight: 500;
        width: 100%;
    }
}

.about_us_mission {
    padding-top: 40px;
    padding-bottom: 80px
}

.about_us_mission_text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1D4354;
}

.about_us_mission_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-align: justify;
    width: 530px;
}

.about_us_mission_text {
    padding-top: 50px
}

@media (max-width: 575.98px) {
    .about_us_mission {
        padding-top: 30px;
        padding-bottom: 20px
    }
    .about_us_mission_text h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .about_us_mission_text p {
        font-size: 14px;
        font-weight: 500;
        width: 100%;
    }
    .about_us_mission_text {
        padding-top: 30px
    }
}

.about_us_vision {
    padding-top: 40px;
    padding-bottom: 80px
}

.about_us_vision_text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1D4354;
}

.about_us_vision_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-align: justify;
    width: 530px;
}

.about_us_vision_text {
    padding-top: 75px
}

@media (max-width: 575.98px) {
    .about_us_vision {
        padding-top: 60px;
        padding-bottom: 20px
    }
    .about_us_vision_text h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .about_us_vision_text p {
        font-size: 14px;
        font-weight: 500;
        width: 100%;
    }
    .about_us_vision_text {
        padding-top: 30px;
        text-align: center !important;
    }
}

.about_us_culture {
    padding-top: 40px;
    padding-bottom: 80px
}

.about_us_culture_text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1D4354;
}

.about_us_culture_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-align: justify;
    width: 530px;
}

.about_us_culture_image img {
    width: 350px;
}

.about_us_culture_text {
    padding-top: 90px
}

@media (max-width: 575.98px) {
    .about_us_culture {
        padding-top: 60px;
        padding-bottom: 80px
    }
    .about_us_culture_text h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .about_us_culture_text p {
        font-size: 14px;
        font-weight: 500;
        text-align: justify;
        width: 100%;
    }
    .about_us_culture_image img {
        width: 200px;
    }
    .about_us_culture_text {
        padding-top: 30px
    }
}

.about_us_presence {
    padding-top: 40px;
    padding-bottom: 80px
}

.about_us_presence_text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #1D4354;
}

.about_us_presence_image {
    padding-top: 40px;
}


/* about us css end */


/*footer css start*/

.footer_class {
    background-color: #1D4354;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer_class hr {
    background: white;
}

.footer_class p {
    text-align: center;
    padding-top: 10px
}

.footer_class i.fa {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 25px;
    text-align: center;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    margin-left: 10px;
    background-color: #2B5468
}

.footer_class i.fa:hover {
    background-color: #336278;
}

.footer_class a {
    color: inherit;
}

.footer_class p {
    text-align: center;
    padding-top: 10px
}

.footer_class ul li {
    list-style: none !important;
}

.footer_class ul {
    padding-left: 0px;
}

@media (max-width: 575.98px) {
    .footer_class {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .footer_class ul li {
        text-align: center;
        margin-bottom: 10px;
    }
}


/*footer css end*/


/*Menu Fixed CSS Start*/

.fixedmenu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1D4354;
    padding: 0px 0px;
    transition: all .3s linear;
    z-index: 999;
}


/*Menu Fixed CSS End*/


/*Top Button Start*/

.top_btn {
    position: fixed;
    right: 22px;
    bottom: 50px;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #1D4354;
    border-radius: 50%;
    color: #1D4354;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s linear;
    display: none;
}

.top_btn:hover {
    background-color: #1D4354;
    color: white;
}


/*Top Button End*/