* {
    margin: 0;
    padding: 0;
    line-height: auto;
}

ul,
ol {
    list-style: none;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

button:focus {
    outline: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li {
    margin-top: 0;
    margin-bottom: 0;
    line-height: auto;
}

img {
    vertical-align: middle;
}

body {
    background-color: #ffffff;
}


/*End of Common CSS*/


/*header css start*/

.header {
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0;
    height: 12%;
    width: 100%;
    z-index: 99;
    transition: all .3s linear;
    background-color: #1D4354;
    text-decoration: none;
}

.navbar-brand h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: #37A000;
    padding-top: -30px
}


}
.navbar-brand:hover {
    color: white
}
.header .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    transition: all .2s linear;
    text-decoration: none;
    color: white;
}
li.nav-item {
    padding: 0px 30px;
    text-decoration: none;
}
.header .nav-link:hover {
    color: #37A000;
}
.header .last_item {
    border-radius: 5px;
    background: #37A000;
    color: White;
    margin-top: -1px;
    position: relative;
}
.header .last_item: {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #6FDA44;
    transition: all .3s linear;
    z-index: -1;
}
.header .last_item:hover::before {
    width: 100%;
}
.header .last_item:hover {
    color: #37A000;
    background-color: White;
}
.asse {
    color: white
}

/*header css end*/

/*banner css start*/
.banner_part {
    margin-top: 1px;
}
.banner_text {
    padding-top: 200px;
    padding-bottom: 120px;
    height: 100%;
    background-color: #F2F2F2;
}
.banner_part h1 {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 1px;
}
.banner_part .hire {
    color: #37A000
}
.banner_part p {
    color: #222222;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    padding-left: 30px;
}
.banner_part a {
    display: inline-block;
    margin-top: 35px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid white;
}
.banner_part a.banner_button_1 {
    background-color: #37A000;
    color: white;
    margin-right: 20px;
    margin-left: 30px;
    border-radius: 8px;
}
.banner_part a.banner_button_2 {
    background-color: white;
    color: black;
}
.banner_part a.banner_button_2:hover {
    background-color: #37A000;
    color: white;
}
.banner_img {
    padding-top: 150px;
    padding-right: 30px;
    background-color: #E3C3C6;
}
.banner_img img {
    width: 100%;
    max-height: 600px;
}

/*banner css end*/

/*about css start*/
.about {
    padding-top: 100px;
    padding-bottom: 100px;
}
.about_img {
    padding-left: 30px;
}
.about_img img {
    max-width: 100%;
    height: auto;
}
.about_text {
    padding-top: 30px;
    padding-right: 30px;
}
.about_text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 45px;
    color: #1D4354;
}
.about_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: #1D4354;
}
.about_text a {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 20px;
    border: 2px solid #1D4354;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s linear;
    background: transparent;
    color: #1D4354;
    border-radius: 6px;
}

/*about css end*/

/*testimonial css strat*/
.test {
    padding-top: 160px;
    padding-bottom: 30px;
    background-color: white;
}
.test .test_heading h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #1D4354;
}
.test .test_heading p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    width: 70%;
    margin: auto;
}
.test_content {
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}
.test_content .card {
    box-shadow: 10px 10px 15px rgb(187, 187, 187);
    margin-bottom: 50px;
}
.test_content .card-header {
    background-color: #1D4354;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 6px 6px 0px 0px;
}
.test_content .card-header h3 {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}
.test_content .card-body {
    padding-top: 30px;
    height: 420px;
}
.test_content .card-body h3 {
    color: #1D4354;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-top: 10px;
}
.test_content .card-body p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}
.test_content .card-body a {
    display: inline-block;
    border: 2px solid #37A000;
    padding: 5px 35px;
    border-radius: 6px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.test_content .card-body a:hover {
    background-color: #37A000;
    color: white
}
.card:hover {
    background-color: #F2F2F2
}
.test_content .slick-dots {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.test_content .slick-dots li {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0px 7px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #1D4354;
    transition: all .2s linear;
}
.test_content .slick-dots li.slick-active {
    background-color: #1D4354;
}
.test_content .slick-dots li button {
    display: none;
}

/*testimonial css end*/

/* details css start */
.details {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #CBD7CB;
}
.details_img {
    padding-right: 30px;
}
.details_img img {
    max-width: 100%;
    height: auto;
}
.details_text {
    padding-top: 30px;
    padding-left: 30px;
}
.details_text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 45px;
    color: #1D4354;
}
.details_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: #1D4354;
}
.details_text a {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 20px;
    border: 2px solid #1D4354;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s linear;
    background: transparent;
    color: #1D4354;
    border-radius: 6px;
}

/* details css end */

/*Testimonial CSS Start*/
.testimonial {
    padding-top: 80px;
    padding-bottom: 120px;
}
.testimonial .test_heading h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #1D4354;
}
.testimonial_content .test_details {
    background-color: #F1F2F4;
    padding: 80px 25px 20px 25px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-top: 60px;
}
.testimonial_content .test_details p {
    color: black font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 12px;
}
.testimonial_content .test_details h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #34ba08;
}
.testimonial_content .test_details span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #1D4354
}
.testimonial_content .test_details .test_img {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border: 2px solid white;
    transition: all .3s linear;
}
.testimonial_content .test_details i {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 35px;
    color: #34ba08;
}
.testimonial_slider .slick-current.slick-active.slick-center .test_details .test_img {
    border-color: #376678;
}

/*Testimonial CSS End*/

/*Counter CSS Start*/
.counter_part {
    background-color: white;
    padding: 115px 0px;
    position: relative;
    color: black;
}
.counter_part:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.c_content {
    text-align: center;
    border-radius: 20px;
}
.c_content i {
    font-size: 35px;
    margin-bottom: 20px;
    color: #37A000;
}
.c_content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: black;
}
.c_content h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #1D4354;
    margin-top: 12px;
}

/*Counter CSS End*/

/*Contact CSS Start*/
.contact {
    background-color: white;
    padding: 80px 0px;
}
.contact_content {
    padding-top: 20px;
}
.contact_details {
    background-color: #F1F2F4;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
    border-radius: 10px;
    position: relative;
    transition: all .3s linear;
    cursor: pointer;
}
.contact_details:hover {
    transform: translateY(-8px);
}
.contact_details i {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}
.contact_details h3 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    margin-bottom: 20px;
}
.contact_details h3:before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 2px;
    width: 60px;
    background-color: #37A000;
}
.contact_details h3:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 65px;
    height: 2px;
    width: 5px;
    background-color: #37A000;
}
.contact_details p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.contact_details span {
    position: absolute;
    top: 20px;
    right: 30px;
    color: gray;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 35px;
}
.contact_form {
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F1F2F4;
    border-radius: 10px;
}
.contact_form form input {
    border-style: none;
    background: white;
    width: 100%;
    margin-bottom: 25px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid transparent;
    border-radius: 7px;
    color: black;
    transition: all .2s linear;
}
.contact_form form input:focus {
    border-color: rgba(55, 160, 0, 0.4);
    box-shadow: 2px 2px 10px rgba(55, 160, 0, 0.4);
}
.contact_form form textarea {
    width: 100%;
    border-style: none;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: white;
    height: 150px;
    padding-left: 15px;
    color: black;
    padding-top: 10px;
    transition: all .2s linear;
    /*	resize: none;*/
}
.contact_form form textarea:focus {
    border-color: rgba(55, 160, 0, 0.4);
    box-shadow: 2px 2px 10px rgba(55, 160, 0, 0.4);
}
.contact_form form button {
    border-style: none;
    padding: 5px 20px;
    margin-top: 22px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background: #37A000;
    color: #e8e8e8;
    transition: all .3s linear;
    border: solid #37A000 1px;
}
.contact_form form button:hover {
    background-color: white;
    color: #37A000
}

/*Contact CSS End*/

/*footer css start*/
.footer {
    background-color: #181717;
    border-top: 1px solid rgba(255, 87, 34, 0.5);
    border-radius: 40px 40px 0px 0px;
    position: relative;
    overflow: hidden;
}
.footer .footer_bg_img_1 {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 120px;
}
.footer .footer_bg_img_2 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 120px;
}
.footer_heading {
    padding-top: 60px;
    text-align: center;
}
.footer_heading h2 {
    display: inline-block;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    font-size: 45px;
    color: #f5f6fa;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.6);
}
.footer_heading h2 span {
    color: #FF5722;
}
.footer_address_info i {
    font-size: 18px;
    color: #FF5722;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 10px 10px 15px #2a2a2a;
    transition: all .2s linear;
}
.footer_address {
    padding-bottom: 30px;
    padding-top: 15px;
}
.footer_address_info p {
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 16px;
}
.footer_address_info:hover i {
    background-color: #FF5722;
    color: #181717;
    transform: scale(1.1);
    font-size: 20px;
    border: 1px solid transparent;
}
.footer_link {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
}
.footer_link i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    background: #FF5722;
    color: #181717;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .2s linear;
}
.footer_link i:hover {
    color: #e7e7e7;
    transform: scale(1.1);
}
.footer_copyright {
    padding-bottom: 30px;
}
.footer_copyright a {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    margin-right: 10px;
    font-size: 14px;
    color: white;
    transition: all .2s linear;
}
.footer_copyright a:hover {
    color: #FF5722
}
.footer_copyright p {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: white;
}
.footer_copyright p span {
    font-family: 'Oswald', sans-serif;
    color: #FF5722
}

/*footer css end*/

/*Menu Fixed CSS Start*/
.fixedmenu {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1D4354;
    padding: 0px 0px;
    transition: all .3s linear;
    z-index: 9999;
}

/*Menu Fixed CSS End*/

/*Top Button Start*/
.top_btn {
    position: fixed;
    right: 22px;
    bottom: 50px;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #37A000;
    border-radius: 50%;
    color: #37A000;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s linear;
    display: none;
}
.top_btn:hover {
    border-color: #37A000;
    background-color: #37A000;
    color: white;
}

/*Top Button End*/

/*Preloader CSS Start*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 9999;
}
.loader-classic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 0px;
    text-align: left;
    -webkit-animation: loader-classic 1.3s linear infinite;
    animation: loader-classic 1.3s linear infinite;
}
.loader-classic span {
    position: absolute;
    vertical-align: middle;
    border-radius: 100%;
    background: #1D4354;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 16px;
    transform-origin: center 20px;
    -webkit-transform-origin: center 20px;
}
.loader-classic span:nth-child(2) {
    transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    opacity: 0.1;
}
.loader-classic span:nth-child(3) {
    transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
    opacity: 0.2;
}
.loader-classic span:nth-child(4) {
    transform: rotate(108deg);
    -webkit-transform: rotate(108deg);
    opacity: 0.3;
}
.loader-classic span:nth-child(5) {
    transform: rotate(144deg);
    -webkit-transform: rotate(144deg);
    opacity: 0.4;
}
.loader-classic span:nth-child(6) {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    opacity: 0.5;
}
.loader-classic span:nth-child(7) {
    transform: rotate(216deg);
    -webkit-transform: rotate(216deg);
    opacity: 0.6;
}
.loader-classic span:nth-child(8) {
    transform: rotate(252deg);
    -webkit-transform: rotate(252deg);
    opacity: 0.7;
}
.loader-classic span:nth-child(9) {
    transform: rotate(288deg);
    -webkit-transform: rotate(288deg);
    opacity: 0.8;
}
.loader-classic span:nth-child(10) {
    transform: rotate(324deg);
    -webkit-transform: rotate(324deg);
    opacity: 0.9;
}
@keyframes loader-classic {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader-classic {
    from {
        -webkit-transform: rotate(0deg);
    }
    
    to {
        -webkit-transform: rotate(360deg);
    }
}
.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.fa-users {
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #37A000
}
.fa-search {
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #37A000
}
.fa-clock {
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #37A000
}
.fa-envelope-open {
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #1D4354
}
.product_content .card-body p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
    padding-top: 20px;
}
.product_content .card-body h3 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    padding-top: 10px;
}
.fa-envelope-open:hover {
    color: #37A000
}
.fa-bar-chart {
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #1D4354
}
.fa-bar-chart:hover {
    color: #37A000
}
.fa-wrench {
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #1D4354
}
.fa-wrench:hover {
    color: #37A000
}
.product_content {
    background-color: #F2F2F2;
    padding-left: 80px;
    padding-right: 80px;
}
.cv h1 {
    color: #1D4354;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 1px;
    padding-top: 100px;
    padding-left: 100px
}
.cv p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-left: 100px
}
.time {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left: 100px
}
.fa-umbrella-beach {
    font-size: 30px;
    padding-right: 10px;
    color: #37A000;
}
.picture {
    padding-top: 80px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.fa-file-alt {
    font-size: 400px;
    padding-left: 100px;
    color: #1D4354
}
.fa-address-book {
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #37A000
}
.fa-archway {
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #37A000
}
.footer_class {
    height: 315px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1D4354;
    color: white;
    padding-top: 60px;
    font-size: 16px
}
.col-lg-3 li {
    padding-top: 7px;
}
a {
    color: inherit;
}
.footer_class p {
    text-align: center;
    padding-top: 10px
}
hr {
    background-color: #2B5468
}
.footer_class i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    margin-left: 10px;
    background-color: #2B5468
}
.footer_class i.fa:hover {
    background-color: #336278;
}
.footer_class a {
    color: inherit;
}
.footer_class p {
    text-align: center;
    padding-top: 10px
}
.mobile {
    padding-left: 555px
}
.col-lg-3 a:hover {
    color: #37A000
}
.parent {
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
}
.image1 {
    height: 400px;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 15px #1D4354;
}
.image2 {
    height: 400px;
    position: absolute;
    top: 350px;
    left: 320px;
    box-shadow: 0px 0px 15px #1D4354;
}
.carousel-inner {
    height: 200px;
    text-align: center;
}
.carousel-inner p {
    color: #37A000;
    text-align: center;
    padding: 10px 200px
}
.carousel-inner h4 {
    text-align: center;
}
.carousel h1 {
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px
}
.carousel-control-prev-icon {
    color: #37A000;
}
.carousel {
    background-color: #F2F2F2;
    padding-top: 30px
}
.carousel-control-prev {
    color: red;
    font-size: 50px
}
.name {
    font-size: 30px
}
.designation {
    padding-top: 40px
}
.card {
    height: 850px
}
.price_content {
    padding-left: 10px
}
.col-lg-10 li {
    padding-top: 10px
}
.col-lg-1 .fa {
    padding-top: 15px
}
.down {
    margin-top: 22px
}
.down-1 {
    margin-top: 22px
}
.second {
    padding-left: 200px;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #F2F2F2
}
.second h1 {
    font-size: 35px;
    color: #37A000
}
.second p {
    padding-top: 20px;
    font-size: 20px
}
.second .email {
    padding-top: 2px;
    padding-bottom: 8px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 8px;
    width: 300px
}
.btn {
    margin-left: 5px
}
.third {
    padding-left: 100px;
    padding-top: 100px
}
.third h1 {
    color: #1D4354
}
.third li {
    padding: 10px;
    border-radius: 8px
}
.third li:hover {
    background-color: #F2F2F2;
    color: #37A000
}
.third ul {
    padding-top: 10px;
    padding-bottom: 150px
}
.third p {
    padding-top: 8px
}
.fa-home {
    color: #1D4354;
    text-align: right;
}
hr {
    background-color: #37A000
}
.btn {
    background-color: #37A000;
    color: white
}
.btn:hover {
    background-color: #1D4354;
    color: white
}
.fourth {
    padding-left: 450px;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #F2F2F2
}
.fourth h1 {
    font-size: 35px;
    color: #37A000
}
.fourth p {
    padding-top: 20px;
    font-size: 20px
}
.fa-eye {
    font-size: 15px;
    float: right
}
.circle {
    background: lightblue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/*Preloader CSS End*/